body {
    background-color: blueviolet;
}
.jsless {
    text-align: center;
}
.jsless:hover {
    color: yellow;
    background-color: tomato;
}
.name {
    text-align: center;
}
.name:hover {
    color: tomato;
    background-color: yellow;
}